*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link:hover{
    color: gray;
}
body,.btn{
    background-color: #10082a !important;
}
.btn-background{
    background-color: #A9A947;
}
/* SIGNUP AND LOGIN */
form.d-flex.flex-column.align-items-center {
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.signup::after{
    content: '';
    height: 36px;
    width: 50px;
    color: #10082a;
    border-bottom: 3px #10082a solid;
    position: absolute;
    top: 24px;
    left: 27px;
}

/* BLOG PAGE */
.blog::after {
    content: '';
    height: 51px;
    width: 50px;
    color: #10082a;
    border-bottom: 3px white solid;
    position: absolute;
    top: 24px;
    right: 618px;
}
small {
    font-size: 1rem;
}
/* ADD BLOG */
#addBlogBtn,.editbtn{
    background-color: white !important;
    color: black;
}
/* EDIT BLOG*/
.bi-pencil-square,.bi-trash{
    font-size: 26px;
}
